.rootPane {
    -fx-font-family: "Microsoft JhengHei UI" ;
    -fx-background-color: #FFFF ;
}

.title-bar{
    -fx-font-family: "Microsoft JhengHei UI" ;
    -fx-background-color: #f4f4f4 ;
}

.side-bar{
    -fx-font-family: "Microsoft JhengHei UI" ;
    -fx-background-color: #dcdcdc ;
}

.border {
    -fx-background-color: #af57f2 ;
}

.title-label{
    -fx-font-family: "Microsoft JhengHei UI" ;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.app-label{
    -fx-font-family: "Microsoft JhengHei UI Light" ;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}


.text-field {
    -fx-background-radius: 30px ;
}

.purple_btn {
    -fx-background-color: #9415F3 ;
    -fx-border-width: .4px ;
    -fx-background-radius: 30px ;
    -fx-text-fill: #fff ;
    -fx-cursor: hand ;
    -fx-font-weight: bold;
}

.purple_btn:hover {
    -fx-background-color: #af57f2 ;
    -fx-text-fill: #fff ;
}

.sidebar_btn {
    -fx-font-family: "Microsoft JhengHei UI" ;
    -fx-background-color: #9415F3 ;
    -fx-border-width: .4px ;
    -fx-background-radius: 30px ;
    -fx-text-fill: #fff ;
    -fx-cursor: hand ;
    -fx-font-weight: bold;
}

.sidebar_btn:hover {
    -fx-font-family: "Microsoft JhengHei UI" ;
    -fx-background-color: #af57f2 ;
    -fx-text-fill: #fff ;
}

.blue_btn {
    -fx-background-color: #155ef3 ;
    -fx-border-width: .4px ;
    -fx-background-radius: 30px ;
    -fx-text-fill: #fff ;
    -fx-cursor: hand ;
    -fx-font-weight: bold;
}

.blue_btn:hover {
    -fx-background-color: #578bf2 ;
    -fx-text-fill: #fff ;
}

.red_btn {
    -fx-background-color: #E55353 ;
    -fx-border-width: .4px ;
    -fx-background-radius: 30px ;
    -fx-text-fill: #fff ;
    -fx-cursor: hand ;
    -fx-font-family: "Microsoft JhengHei" ;
    -fx-font-weight: bold;
}

.red_btn:hover {
    -fx-background-color: #E58585 ;
    -fx-text-fill: #fff ;
}